nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 6%;
    }
  
  .logo{
    color: #383337;
    font-size: 2.3rem;
  }
  
  nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    }
    
  nav ul li a{
      color: #383337;
      text-decoration: none;
      font-weight: 750;
      font-size: 1.2rem;
  }
  
  .search-box{
    margin-left: 20px;
    transform: translate (-50%, -50%);
    background: #383337;
    height: 40px;
    border-radius: 40px;
    padding: 0px;
  }
  
  .search-box:hover > .search-txt{
    width: 110px;
    padding: 0 6px;
  }
  
  .search-box:hover > .search-btn{
    background: white;
    color: #383337;
  }
  
  
  .search-btn{
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #383337;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .search-txt{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 15px;
    transition: 0.4s;
    line-height: 38px;
    width: 0px;
  }
  /* CSS */
  .button-18 {
    align-items: center;
    background-color: #383337;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Mukta', sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .button-18:hover,
  .button-18:focus { 
    background-color: #16437E;
    color: #ffffff;
  }
  
  .button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
  }
  
  .button-18:disabled { 
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
  }
  
  .cart{
    margin-left: 40px;
    margin-right: 2rem;
    transform: translate (-50%, -50%);
    background: #383337;
    height: 40px;
    align-items: center;
    border-radius: 60rem;
    padding: 6px;
  }
  
  .user{
    margin-left: 10px;
    transform: translate (-50%, -50%);
    background: #383337;
    height: 40px;
    align-items: center;
    border-radius: 60rem;
    padding: 8px;
  }
  
  #nav-dropdown{
    
    color: #ffffff;
    /* display: flex; */
    align-items: flex-start;
    flex-direction: column;
  }
  
  #nav-items{
    margin-top: 3rem;
    padding: 1rem;
    line-height: 0rem;
    background-color: #383337;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 30px;
    column-gap: 1000000000000px;
  }
  
  .show>.dropdown-menu {
    display: block;
    position: absolute;
  } 